### macOS template
agents/tmp
autogen
.idea
command.md
results/
# General
.DS_Store
.AppleDouble
.LSOverride
sft_llama3
figures
# Icon must end with two \r
Icon
data/augementation
scripts/server
scripts/case_codefinqa.sh
scripts/codefinqa.sh
scripts/codetatqa.sh
scripts/fincode.sh
scripts/finmath.sh
scripts/reason_task.sh
scripts/rollout.sh
scripts/run_server.sh
scripts/test_extract.sh
scripts/test_codetat.sh
# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

